canvas{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
	width: 40px;
	background-color: transparent;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
	width: 40px;
	 background-color: transparent;
	 border: 1px solid black;
}

input:focus{
	border: 2px solid blue;
}

button{
	background:transparent;
	font-weight: 400;
	padding:0.5em 1.5em 0.5em 1.5em;
	border-radius: 2em;
	border:none;
	background-color: black;
	color: white;
	margin-right: 5px;
}

label,input[type="number"],span{
	border: none;
	padding: 0.2em;
	width: 30px;
}

input[type="number"]:invalid{
	color: red;
}

span{
	font-variant: small-caps;
	font-family: sans-serif;
}

#gui{
	display: inline-block;
	position: fixed;
}

#ui-container{
	display: inline-block;
}

#version{
	position: fixed;
	font-family: sans-serif;
	font-size: 0.8em;
	right: 10px;
	bottom: 10px;
}
